body {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffcc00;
}

h2 {
    font-size: 24px;
}

span {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: #ffcc00;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #555;
    color: #fff;
}

.score {
    font-size: 36px;
    font-weight: bold;
}

.clock {
    font-size: 60px;
    color: #ffcc00;
    margin-top: 10px;
}